<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Previous</th>
      <th>Next</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>



<ul class="sortable">
<% @slides.each do |slide| %>
	  <section style=" -moz-transform: scale(0.5);">
	  <li><%= raw slide.content %></li>
	  </section>
	   
    <% end %>
    
</ul>

<script>
    $('.sortable').sortable();
</script>




<br>

<%= link_to 'New Slide', new_course_lesson_slide_path(@course,@lesson) %>
