<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Previous</th>
      <th>Next</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>



<ul class="sortable">
<% @slides.order("position").each do |slide| %>
	  <section style=" -moz-transform: scale(0.5);">
	  <li><%= raw slide.content %></li>
	  <li><%= slide.position %></li>
	  <li><%= link_to 'Destroy', [@course,@lesson,slide], method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  </section>
	   
    <% end %>
    
</ul>

<script>
    $('.sortable').sortable();
</script>




<br>

<%= link_to 'New Slide', new_course_lesson_slide_path(@course,@lesson) %>
