<!DOCTYPE html>
<html>
<head>
  <title>Dmdv</title>
  <link rel="stylesheet" href="app/assets/stylesheets/scaffolds.css.scss" type="text/css" />
    <link rel="stylesheet" href="app/assets/stylesheets/application.css" type="text/css" />
      <link rel="stylesheet" href="app/assets/stylesheets/courses.css.scss" type="text/css" />
        <link rel="stylesheet" href="app/assets/stylesheets/lessons.css.scss" type="text/css" />
          <link rel="stylesheet" href="app/assets/stylesheets/slides.css" type="text/css" />
            <link rel="stylesheet" href="app/assets/stylesheets/users.css.scss" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
